<div class="card mb-2">
  <div class="card-body">
    <ngp-carousel [perPage]="numPerPage">
      <ng-template *ngFor="let elem of elements" ngpCarouselItem>
        <div class="elem-item border border-dark text-center">
          <span>{{elem.name}}</span>
        </div>
      </ng-template>
    </ngp-carousel>
  </div>

  <div class="card-footer">
    <div class="btn-group">
      <button class="btn btn-primary" [disabled]="numPerPage === false" (click)="numPerPage = false">false</button>
      <button class="btn btn-primary" [disabled]="numPerPage === 2" (click)="numPerPage = 2">2</button>
      <button class="btn btn-primary" [disabled]="numPerPage === 3" (click)="numPerPage = 3">3</button>
      <button class="btn btn-primary" [disabled]="numPerPage === 4" (click)="numPerPage = 4">4</button>
      <button class="btn btn-primary" [disabled]="numPerPage === 5" (click)="numPerPage = 5">5</button>
      <button class="btn btn-primary" [disabled]="numPerPage === 6" (click)="numPerPage = 6">6</button>
    </div>
  </div>
</div>
