<div class="card mb-2">
  <div class="card-body">
    <h4>1. Append / remove items</h4>

    <ngp-carousel>
      <ng-template *ngFor="let elem of elements" ngpCarouselItem>
        <div class="elem-item border border-dark text-center">
          <span>{{elem.name}}</span>
        </div>
      </ng-template>
    </ngp-carousel>
  </div>

  <div class="card-footer">
    <button class="btn btn-primary" (click)="append()">Append</button>
    <button class="btn btn-primary ml-2" (click)="remove()">Remove</button>
    <button class="btn btn-primary ml-2" (click)="prepend()">Prepend</button>
    <button class="btn btn-primary ml-2" (click)="shift()">Shift</button>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body">
    <h4>2. ngIf directive, hide and show</h4>

    <span *ngIf="!show">Hidden</span>

    <ngp-carousel *ngIf="show" [loop]="true" [autoSlide]="1500" [animationDuration]="750">
      <ng-template *ngFor="let elem of elements" ngpCarouselItem>
        <div class="elem-item border border-dark text-center">
          <span>{{elem.name}}</span>
        </div>
      </ng-template>
    </ngp-carousel>
  </div>

  <div class="card-footer">
    <button class="btn btn-primary" (click)="show = !show">{{show ? 'Hide' : 'Show'}}</button>
  </div>
</div>
