.images-advanced-carousel {
  line-height: 0 !important;

  ::ng-deep .btn-link {
    color: white;
  }

  ::ng-deep .button-slot {
    width: 25% !important;

    &.inner {
      button {
        transition: all .1s ease-in-out;
        color: rgba(255, 255, 255, 0.75);
      }

      button:hover {
        transform: scale(1.1);
        color: rgba(255, 255, 255, 1);
      }

      &.left {
        justify-content: flex-start !important;
        left: 0 !important;
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
      }

      &.right {
        justify-content: flex-end !important;
        left: 75% !important;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
      }
    }
  }
}
