<div class="card mb-2">
  <div class="card-body">
    <h4>9. Images</h4>
    <ngp-carousel #example9 [perPage]="2">
      <ng-template *ngFor="let img of images" ngpCarouselItem>
        <div (ngpWidthChanged)="widthUpdated($event)">
          <img alt="img" src="assets/images/{{img}}" class="img-thumbnail">
        </div>
      </ng-template>
    </ngp-carousel>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body">
    <h4>10. Animation properties</h4>
    <ngp-carousel [perPage]="true"
                  [innerButtons]="true"
                  [animationDelay]="100"
                  [animationDuration]="500"
                  [animationEasing]="'ease-in-out'"
    >
      <ng-template *ngFor="let img of images" ngpCarouselItem>
        <img alt="img" src="assets/images/{{img}}" class="img-thumbnail">
      </ng-template>
    </ngp-carousel>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body">
    <h4>11. Animation properties & loop</h4>
    <ngp-carousel [perPage]="1"
                  [innerButtons]="true"
                  [loop]="true"
                  [animationDelay]="100"
                  [animationDuration]="500"
                  [animationEasing]="'ease-in-out'"
    >
      <ng-template *ngFor="let img of images" ngpCarouselItem>
        <img alt="img" src="assets/images/{{img}}" class="img-thumbnail">
      </ng-template>
    </ngp-carousel>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body">
    <h4>12. Programmable control & custom styling</h4>
    <ngp-carousel #example12
                  [perPage]="1"
                  [innerButtons]="true"
                  [loop]="true"
                  [animationDelay]="100"
                  [animationDuration]="500"
                  [animationEasing]="'ease-in-out'"
                  class="images-advanced-carousel"
    >
      <ng-template *ngFor="let img of images" ngpCarouselItem>
        <img alt="img" src="assets/images/{{img}}" class="img-fluid">
      </ng-template>

      <button class="btn btn-lg btn-link" (click)="leftClick()" ngpCarouselButton [disableDefaultClick]="true" slot="left">
        <fa-icon [icon]="faLeft" [size]="'2x'"></fa-icon>
      </button>

      <button class="btn btn-lg btn-link" (click)="rightClick()" ngpCarouselButton [disableDefaultClick]="true" slot="right">
        <fa-icon [icon]="faRight" [size]="'2x'"></fa-icon>
      </button>
    </ngp-carousel>
  </div>
</div>
